<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">  

      {{>header}}
      {{errormsg}}<p>Let's go <a href="/">Home</a> and try from there.</p>
        </div>
    
      {{>footer}}
    </body>
</html>